Repository juspay/hyperswitch-control-center, pull requests merged in 2025-09, with the labels that each got.

#3510 fix: recovery prod default route fix
  src/RevenueRecovery/RevenueRecoveryContainer/RecoveryConnectorContainer.res
  src/RevenueRecovery/RevenueRecoveryHooks.res
  src/RevenueRecovery/RevenueRecoveryScreens/RecoveryProcessors/RevenueRecoveryBillingProcessors/BillingProcessorsReviewDetails.res
  src/RevenueRecovery/RevenueRecoveryScreens/RecoveryProcessors/RevenueRecoveryOnboarding/RevenueRecoveryOnboarding.res
  src/RevenueRecovery/RevenueRecoveryScreens/RevenueRecoveryAnalytics/SmartRetryStrategy/SmartRetryStrategyAnalytics.res
Labels: S-waiting-on-review, S-Recovery

#3472 feat: allow user to share permalinks and switch
  public/hyperswitch/icons/solid.svg
  src/entryPoints/AuthModule/AuthEntry.res
  src/entryPoints/AuthModule/AuthWrapper.res
  src/entryPoints/AuthModule/Common/CommonAuthUtils.res
  src/entryPoints/OMPSwitch/OMPSwitchTypes.res
  src/entryPoints/OMPSwitch/OMPSwitchUser.res
  src/entryPoints/OMPSwitch/OMPSwitchUtils.res
  src/hooks/AuthHooks.res
  src/libraries/Window.res
  src/screens/Connectors/FraudAndRisk/FRMSelect.res
  src/screens/Helpers/BluredTableComponent.res
  src/screens/Helpers/HelperComponents.res
  src/screens/Helpers/PageUtils.res
  src/screens/SDKPayment/PreviewSection/SDKPayment.res
  src/screens/Transaction/Order/OrderUIUtils.res
Labels: S-waiting-on-review, C-feature

#3413 fix: filter bugs when time range is changed
  src/screens/HSwitchRemoteFilter.res
Labels: S-waiting-on-review, C-bug, C-enhancement

#3517 chore: recon engine remove subtitles and arrange the page heading
  src/ReconEngine/ReconEngineScreens/ReconEngineConnection/ReconEngineConnection.res
  src/ReconEngine/ReconEngineScreens/ReconEngineExceptions/ReconEngineExceptionTransaction/ReconExceptionTransactionUtils.res
  src/ReconEngine/ReconEngineScreens/ReconEngineExceptions/ReconEngineExceptions.res
  src/ReconEngine/ReconEngineScreens/ReconEngineFileManagement/ReconEngineIngestion/ReconEngineIngestion.res
  src/ReconEngine/ReconEngineScreens/ReconEngineOverview/ReconEngineOverview.res
  src/ReconEngine/ReconEngineScreens/ReconEngineOverview/ReconEngineOverviewSummary/ReconEngineOverviewSummaryComponents/ReconEngineOverviewSummaryFlowDiagram.res
  src/ReconEngine/ReconEngineScreens/ReconEngineRules/ReconEngineRule.res
  src/ReconEngine/ReconEngineScreens/ReconEngineRules/ReconEngineRuleDetails.res
  src/ReconEngine/ReconEngineScreens/ReconEngineTransactions/ReconEngineTransactions.res
  src/ReconEngine/ReconEngineScreens/ReconEngineTransactions/ReconEngineTransactionsUtils.res
Labels: S-waiting-on-review, S-Recon, C-enhancement

#3519 feat: recon engine accounts section folder setup
  src/ReconEngine/ReconEngineApp/ReconEngineApp.res
  src/ReconEngine/ReconEngineApp/ReconEngineSidebarValues.res
  src/ReconEngine/ReconEngineContainer/ReconEngineAccountsContainer.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsSources/ReconEngineAccountsSources.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformation.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformedEntries/ReconEngineAccountsTransformedEntries.res
Labels: S-waiting-on-review, C-feature, S-Recon

#3590 fix: reconciliation engine naming and style changes
  src/ReconEngine/ReconEngineApp/ReconEngineSidebarValues.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationComponents/ReconEngineAccountTransformationConfigDetails.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationHelper.res
  src/entryPoints/ProductUtils.res
Labels: S-waiting-on-review, C-bug, S-Recon

#3603 refactor: recon engine `transactions` and `staging entries` types
  src/ReconEngine/ReconEngineFilterUtils.res
  src/ReconEngine/ReconEngineHooks/ReconEngineHooks.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsOverview/ReconEngineAccountsOverviewComponents/ReconEngineAccountsOverviewTransformation.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsOverview/ReconEngineAccountsOverviewComponents/ReconEngineAccountsOverviewTransformedEntries.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsOverview/ReconEngineAccountsOverviewHelper.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsSources/ReconEngineAccountsSourcesDetails/ReconEngineAccountSourceDetailsHistory.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsSources/ReconEngineAccountsSourcesEntity.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsSources/ReconEngineAccountsSourcesUtils.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationDetails/ReconEngineAccountsTransformationDetailsHistory.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationUtils.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformedEntries/ReconEngineAccountsTransformedEntries.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformedEntries/ReconEngineAccountsTransformedEntriesComponents/ReconEngineAccountsTransformedEntriesOverviewCards.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformedEntries/ReconEngineAccountsTransformedEntriesUtils.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsUtils.res
  src/ReconEngine/ReconEngineScreens/ReconEngineExceptions/ReconEngineExceptionEntity.res
  src/ReconEngine/ReconEngineScreens/ReconEngineExceptions/ReconEngineExceptionStaging/ReconEngineExceptionStagingUtils.res
  src/ReconEngine/ReconEngineScreens/ReconEngineExceptions/ReconEngineExceptionTransaction/ReconEngineExceptionsDetails.res
  src/ReconEngine/ReconEngineScreens/ReconEngineExceptions/ReconEngineExceptionTransaction/ReconExceptionTransaction.res
  src/ReconEngine/ReconEngineScreens/ReconEngineExceptions/ReconEngineExceptionTransaction/ReconExceptionTransactionUtils.res
  src/ReconEngine/ReconEngineScreens/ReconEngineExceptions/ReconEngineExceptionTypes.res
  src/ReconEngine/ReconEngineScreens/ReconEngineOverview/ReconEngineOverviewSummary/ReconEngineOverviewSummaryComponents/ReconEngineOverviewSummaryAccountsView.res
  src/ReconEngine/ReconEngineScreens/ReconEngineOverview/ReconEngineOverviewSummary/ReconEngineOverviewSummaryUtils.res
  src/ReconEngine/ReconEngineScreens/ReconEngineOverview/ReconEngineOverviewUtils.res
  src/ReconEngine/ReconEngineScreens/ReconEngineTransactions/EntriesTableEntity.res
  src/ReconEngine/ReconEngineScreens/ReconEngineTransactions/HierarchicalTransactionsTableEntity.res
  src/ReconEngine/ReconEngineScreens/ReconEngineTransactions/ReconEngineTransactionsContent.res
  src/ReconEngine/ReconEngineScreens/ReconEngineTransactions/ReconEngineTransactionsDetails.res
  src/ReconEngine/ReconEngineScreens/ReconEngineTransactions/ReconEngineTransactionsHelper.res
  src/ReconEngine/ReconEngineScreens/ReconEngineTransactions/ReconEngineTransactionsTypes.res
  src/ReconEngine/ReconEngineScreens/ReconEngineTransactions/ReconEngineTransactionsUtils.res
  src/ReconEngine/ReconEngineScreens/ReconEngineTransactions/TransactionsTableEntity.res
  src/ReconEngine/ReconEngineTypes.res
  src/ReconEngine/ReconEngineUtils.res
Labels: S-waiting-on-review, S-Recon, C-enhancement

#3612 chore: count the `staging_entries` based on the `transformation_history_id`
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsOverview/ReconEngineAccountsOverviewComponents/ReconEngineAccountsOverviewTransformedEntries.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsOverview/ReconEngineAccountsOverviewHelper.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsSources/ReconEngineAccountsSourcesComponents/ReconEngineAccountSourceConfigDetails.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformedEntries/ReconEngineAccountsTransformedEntries.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformedEntries/ReconEngineAccountsTransformedEntriesComponents/ReconEngineAccountsTransformedEntriesOverviewCards.res
Labels: S-waiting-on-review, C-bug, S-Recon

#3614 feat: Enable Nexixpay in PROD
  src/screens/Connectors/ConnectorUtils.res
Labels: C-feature

#3609 fix: recon engine data overview `transformed_entries` list with `transformation_history`
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsOverview/ReconEngineAccountsOverview.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsOverview/ReconEngineAccountsOverviewComponents/ReconEngineAccountsOverviewTransformation.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsOverview/ReconEngineAccountsOverviewHelper.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformedEntries/ReconEngineAccountsTransformedEntries.res
Labels: S-waiting-on-review, C-bug, S-Recon

#3607 refactor: add recon engine hooks for `accounts`, `processing_entries` and `transformation_history`
  src/ReconEngine/ReconEngineHooks/ReconEngineHooks.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsOverview/ReconEngineAccountsOverviewComponents/ReconEngineAccountsOverviewTransformation.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsOverview/ReconEngineAccountsOverviewComponents/ReconEngineAccountsOverviewTransformedEntries.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsSources/ReconEngineAccountsSources.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsSources/ReconEngineAccountsSourcesComponents/ReconEngineAccountSourceConfigs.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformation.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationComponents/ReconEngineAccountTransformationAccordionOnTop.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationComponents/ReconEngineAccountTransformationConfigDetails.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationComponents/ReconEngineAccountTransformationConfigs.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationDetails/ReconEngineAccountsTransformationDetailsHistory.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformedEntries/ReconEngineAccountsTransformedEntries.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformedEntries/ReconEngineAccountsTransformedEntriesComponents/ReconEngineAccountsTransformedEntriesOverviewCards.res
  src/ReconEngine/ReconEngineScreens/ReconEngineOverview/ReconEngineOverviewDetails/ReconEngineOverviewDetailsComponents/ReconEngineOverviewAccountDetails.res
  src/ReconEngine/ReconEngineScreens/ReconEngineOverview/ReconEngineOverviewDetails/ReconEngineOverviewDetailsComponents/ReconEngineOverviewCardDetails.res
  src/ReconEngine/ReconEngineScreens/ReconEngineOverview/ReconEngineOverviewSummary/ReconEngineOverviewSummaryComponents/ReconEngineOverviewSummaryAccountsView.res
  src/ReconEngine/ReconEngineScreens/ReconEngineOverview/ReconEngineOverviewSummary/ReconEngineOverviewSummaryComponents/ReconEngineOverviewSummaryFlowDiagram.res
  src/ReconEngine/ReconEngineScreens/ReconEngineRules/ReconEngineRuleDetails.res
  src/ReconEngine/ReconEngineScreens/ReconEngineTransactions/ReconEngineTransactions.res
Labels: S-waiting-on-review, S-Recon, C-enhancement

#3619 feat: recon engine accounts transformation mappers
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationComponents/ReconEngineAccountTransformationConfigDetails.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationComponents/ReconEngineAccountTransformationConfigs.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationDetails/ReconEngineAccountsTransformationDetails.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationDetails/ReconEngineAccountsTransformationDetailsMappers.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationUtils.res
Labels: S-waiting-on-review, C-feature, S-Recon

#3616 feat: recon engine accounts sources file timeline
  public/hyperswitch/icons/solid.svg
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsSources/ReconEngineAccountsSourcesComponents/ReconEngineAccountSourceDetailsActions.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsSources/ReconEngineAccountsSourcesDetails/ReconEngineAccountSourceDetailsConfig.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsSources/ReconEngineAccountsSourcesEntity.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsSources/ReconEngineAccountsSourcesHelper.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsSources/ReconEngineAccountsSourcesTypes.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsSources/ReconEngineAccountsSourcesUtils.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformation/ReconEngineAccountsTransformationHelper.res
  src/ReconEngine/ReconEngineScreens/ReconEngineOverview/ReconEngineOverviewSummary/ReconEngineOverviewSummaryComponents/ReconEngineOverviewSummaryFlowDiagram.res
  src/ReconEngine/ReconEngineScreens/ReconEngineOverview/ReconEngineOverviewSummary/ReconEngineOverviewSummaryUtils.res
  src/ReconEngine/ReconEngineScreens/ReconEngineTransactions/ReconEngineTransactionsHelper.res
  src/ReconEngine/ReconEngineTypes.res
  src/ReconEngine/ReconEngineUtils.res
  tailwind.config.js
Labels: S-waiting-on-review, C-feature, S-Recon

#3631 feat: recon engine `transformed_entries` metadata and lineage view
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformedEntries/ReconEngineAccountsTransformedEntriesComponents/ReconEngineAccountsTransformedEntriesActions.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformedEntries/ReconEngineAccountsTransformedEntriesTypes.res
  src/ReconEngine/ReconEngineScreens/ReconEngineAccounts/ReconEngineAccountsTransformedEntries/ReconEngineAccountsTransformedEntriesUtils.res
  src/ReconEngine/ReconEngineScreens/ReconEngineExceptions/ReconEngineExceptionEntity.res
Labels: S-waiting-on-review, C-feature, S-Recon

#3647 feat: add new connector Gigadat
  public/hyperswitch/Gateway/GIGADAT.svg
  src/screens/Connectors/ConnectorTypes.res
  src/screens/Connectors/ConnectorUtils.res
Labels: C-feature
